<template>
  <v-app id="home">
    <v-navigation-drawer
      v-model="drawer"
      app
      right
    >
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-contact-mail</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="cyan"
      dark
    >
      <v-spacer />

      <v-toolbar-title>Demo</v-toolbar-title>

      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    </v-app-bar>

    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="text-center">
            <!-- 画面中央 -->
							<v-text-field
							v-model="inputMail"
							label="メールアドレス"
							outlined
							clearable
							></v-text-field>
							<v-menu
								v-model="menu2"
								:close-on-content-click="false"
								:nudge-right="40"
								transition="scale-transition"
								offset-y
								min-width="290px"
							>
								<template v-slot:activator="{ on }">
									<v-text-field
										v-model="inputDate"
										label="利用する日にちを選択してください"
										prepend-icon="event"
										v-on="on"
									></v-text-field>
								</template>
									<v-date-picker v-model="inputDate" @input="menu2 = false"></v-date-picker>
							</v-menu>
						
							<v-btn
								class="ma-2"
								:loading="loading"
								:disabled="loading"
								color="secondary"
								@click="generate"
							>
							送信
						</v-btn>
						
						<div id="qr">
							<vue-qrcode v-show="targetText" :value="targetText" :options="option" tag="img"></vue-qrcode>
							<v-col>
							<v-chip
								v-show="targetText"
								class="ma-2"
								label
							>
							QRコード
							</v-chip>
							</v-col>
						</div>

          </v-col>
					
					

				
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="@/plugins/jquery.qrcode.min.js"></script>
-->
<script>
//import calendar  from "@/components/Calendar.vue";
import VueQrcode from "@chenfengyuan/vue-qrcode";
import axios from "axios";
var end = new Date();
end.setDate(end.getDate() + 7);
export default {
	
		name: 'home',
		components:{
			//calendar,
			VueQrcode
		},
    props: {
      source: String,
    },
    data: () => ({
			drawer: false,
			date: new Date().toISOString().substr(0, 10),
			menu: true,
			menu2: false,
			loader: null,
			loading: false,
			loading2: false,
			loading3: false,
			loading4: false,
			loading5: false,
			inputText: "",
			inputMail: "",
			inputDate: "",
			targetText: "",
			sendData: {
				userMailAddress: "string",
				selectedDate: "string",
			},
			option: {
        errorCorrectionLevel: "M",
        maskPattern: 0,
        margin: 10,
        scale: 2,
        width: 250,
        color: {
          dark: "#000000FF",
          light: "#FFFFFFFF"
        }
      },
		}),
		methods: {
			generate: function() {
				this.loader = 'loading'
				
				this.sendData.userMailAddress = this.inputMail;
				this.sendData.selectedDate = this.inputDate;
				var requestData = JSON.stringify(this.sendData);
				console.log(requestData);
				this.targetText = requestData;
				const apiUrl = "https://m5mgoqt2fj.execute-api.ap-northeast-1.amazonaws.com/demo"
				const config = {headers: {
					'Content-Type': "application/json",
				}}
				const Item = {
					userMailAddress: this.inputMail,
					selectedDate: this.inputDate,
				}
				axios.put(apiUrl, {Item: {
					userMailAddress: this.inputMail,
					selectedDate: this.inputDate,
				}}, config)
							.then(response => {
								console.log(response.data);
							})
							.catch(error => {
								console.log(error);
							})
				axios.get(apiUrl, config)
							.then(response => {
								console.log(response.data);
							})
							.catch(error => {
								console.log(error);
							})
			},
			gen2: function(){
				console.log(this.inputText);
				this.targetText = this.inputText;
			},

		},
		watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      },
    },
		mounted: function() {
			
		}
  }
</script>

<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>