<template>
  <v-app id="calendar">
			<v-col sm="12"
			lg="3"
			class="mb-4 controls">
					<v-btn
							fab
							outlined
							small
							absolute
							left
							color="primary"
							@click="$refs.calendar.prev()"
					>
							<v-icon dark>mdi-chevron-left</v-icon>
					</v-btn>
					<v-btn
							fab
							outlined
							small
							absolute
							right
							color="primary"
							@click="$refs.calendar.next()"
					>
							<v-icon dark>mdi-chevron-right</v-icon>
					</v-btn>
					<v-calendar
						ref="calendar"
						locale="ja-jp"
						v-model="start"
						:type="type"
						:start="start"
						:end="end"
						:min-weeks="minWeeks"
						:max-days="maxDays"
						:now="now"
						:day-format="timestamp => new Date(timestamp.date).getDate()"
						:month-format="timestamp => (new Date(timestamp.date).getMonth() + 1) + ' /'"
						:first-interval="intervals.first"
						:interval-minutes="intervals.minutes"
						:interval-count="intervals.count"
						:interval-height="intervals.height"
						click:date
					></v-calendar>

			</v-col>
  </v-app>
</template>

<script>
	const intervalsDefault = {
    first: 0,
    minutes: 60,
    count: 24,
    height: 40,
  }
  export default {
    name: 'calendar',
    props: {
      source: String,
    },
    data: () => ({
      drawer: false,
      start: '2019-11-12',
      endMenu: false,
      end: '2020-01-27',
      nowMenu: false,
      minWeeks: 1,
      now: null,
			type: 'month',
			intervals: intervalsDefault,
      intervalsOptions: [
        { text: 'Default', value: intervalsDefault },
        { text: 'Workday', value: { first: 16, minutes: 30, count: 20, height: 40 } },
      ],
      maxDays: 7,
		}),
		mounted: function() {
			console.log(this.$refs.calendar);
		}
  }
</script>

      